.card {
  border: 3px solid #d7d7d7;
  cursor: pointer;
  height: 170px;
  margin: 15px;
  overflow: hidden;
  width: 170px;
}

.card-img-top {
  border-radius: 0;
}

.card-height {
  height: 100% !important;
  width: 100% !important;
}
