.navbar {
  background: #1a237e;
  min-height: 70px;
  /* position: fixed; */
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  z-index: 99;
  white-space: nowrap;
}
